<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yxlgx.wink.mapper.UserMapper">

    <resultMap id="all" type="User" autoMapping="true">
    </resultMap>

<select id="getUserByLikeName" resultMap="all">
    select a.*,ad.* from sys_user a
    where name like  concat('%',#{name},'%')
    </select>
</mapper>